html,
body {
    height: 100%;
    width: 100%;
    background: #dde0e2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #dfe1e2, #344658); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #e1e4e6, #324355); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(20, 20, 20);
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.ticket-actual {
    background-color: #e0e0e0;
}

.ticket-actual-numero {
    font-family: Copperplate,fantasy;
    font-size: 80px;
    text-transform: uppercase;
}

.ticket-actual-datos {
    font-family: Copperplate,fantasy;
    font-size: 60px;
    text-transform: uppercase;
}

.ticket-actual-escritorio {
    font-family: Copperplate,fantasy;
    font-size: 70px;
    text-transform: uppercase;
}

.ticket-secundario {
    font-family: Copperplate,fantasy;
    font-size: 35px;
    text-transform: uppercase;
}

.ticket-secundario-escritorio {
    font-family: Copperplate,fantasy;
    font-size: 30px;
    text-transform: uppercase;
}

/* Nuevo-ticket */

#lblNuevoTicket {
    font-family: Copperplate,fantasy;
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
}

#lblNuevoDato {
    margin: 0 auto;
    float: none;
}

.contenido {
    max-width: 1100px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
}