html,
body {
    height: 100%;
    width: 100%;
    background-color: #c5c5c5cb;
    color: rgb(20, 20, 20);
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.ticket-actual {
    background-color: #e0e0e0;
}

.ticket-actual-numero {
    font-family: Copperplate,fantasy;
    font-size: 90px;
}

.ticket-actual-datos {
    font-family: Copperplate,fantasy;
    font-size: 30px;
}

.ticket-actual-escritorio {
    font-family: Copperplate,fantasy;
    font-size: 80px;
}

.ticket-secundario {
    font-family: Copperplate,fantasy;
    font-size: 40px;
}

.ticket-secundario-escritorio {
    font-family: Copperplate,fantasy;
    font-size: 30px;
}

/* Nuevo-ticket */

#lblNuevoTicket {
    font-family: Copperplate,fantasy;
    font-size: 70px;
}

#lblNuevoDato {
    margin: 0 auto;
    float: none;
}
